:root {
    --background-global: #14022D;
    --background-button: #6503A6;
    --color-button: white;
    --color-form: #14022D;
    --color-title-input: #ffffff;
    --color-title: #ffffff;
    --border-form:#78249A;
    --dica:#F4EDE7;
    --linha-palavra:#F50674;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--background-global);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px 15px;
    background-color: var(--background-button);
    color: var(--color-button);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s opacity;
}

button:hover {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.2;
    pointer-events: none;
}